@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

/* Force background to always cover */
html, body, .stApp {
    height: 100% !important;
    min-height: 100vh !important;
    margin: 0 !important;
    padding: 0 !important;
}

/* Kill bottom margin/padding Streamlit injects */
main, .block-container, .stMain, .stAppViewContainer {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    padding-right: 0 !important;
}

/* Optional: set custom bottom height */
.stApp {
    background: url("data:image/jpg;base64,{bg_homepage}") no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    margin: 0 !important;
}


/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: transparent;
    position: relative;
    z-index: 10;
    font-family: "DM Sans", sans-serif;
}

.navbar .logo img {
    width: 200px;
    transform: translate(100px, -20px);
    
}

/* Rounded background for nav links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 10px 30px;
    border-radius: 50px;
    background: linear-gradient(135deg, #a5d85f, #188754);
    box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
    transform: translate(0px, -20px);
}

.nav-links li a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #f1f1f1;
    text-shadow: 0 10px 5px rgba(3, 3, 2, 0.552);
}

/* Rounded Log in button */
.btn-login {
    background: linear-gradient(135deg, #a5d85f, #188754);
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
    transform: translate(-70px, -20px);
}

.btn-login:hover {
    background: linear-gradient(135deg, #188754, #0f5132);
    color: #fff;
}



.hero {
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: -200px;
    width: 100%;
}


.hero-text {
    max-width: 50%;
}

.hero-title {
    font-size: 75px;
    font-weight: bold;
    color: white;
    position: relative;
    transform: translate(100px, 250px);
    font-family: "Poppins", cursive;
    letter-spacing: 1px;
    line-height: 1.1; /* instead of 0.9 */
}

.hero-subtitle {
    margin: 0 0 70px 0;
    font-size: 20px !important;
    color: rgb(255, 255, 255);
    position: relative;
    transform: translate(100px, 300px);
    font-family: "DM Sans", cursive;
    max-width: none; 
    white-space: nowrap; 
    opacity: 0.7;
}

.btn-start {
    background: linear-gradient(135deg, #a5d85f, #188754);
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
    transform: translate(100px, 300px);
}


.btn-start:hover{
    background: linear-gradient(135deg, #188754, #0f5132);
    color: #fff;
}


.hero-img {
    position: relative;
    width: 700px;
    height: 700px;
    transform: translate(760px, -300px);
}

