.food-subtitle {
    display: none;
}


@media (max-width: 768px) {

    .navbar {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 20px;
    }

    .nav-links {
        display: none; 
    }

    .btn-login {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .hero-text {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .hero-title {
        font-size: 50px;
        letter-spacing: -1px;
        transform: none;
        margin-top: 10px;
    }

    .hero-subtitle {
        font-size: 20px;
        transform: none;
        margin-top: 40px;
    }

    .btn-start {
        width: 80%;
        margin-top: 160px;
        margin-left: -250px; 
    }


    .hero-img {
        width: 200px;
        height: 200px;
        position: relative;
        transform: translate(-10px, -250px);
    }

    .food-subtitle {
        display: block;
        position: relative;
        transform: translate(-1px, 20px);
        font-size: 20px !important;
        color: #ffffff;
    }

    .food-background .decor {
        width: 60px;
        height: 60px;
        position: relative;
    }

        
    .food-background .decor.adobo {
        top: -195px;
        left: -240px;
        width: 120px;
        height: 120px;
    }

    
    .food-background .decor.saging {
        display: none;
    }

    
    .food-background .decor.tinola {
        position: absolute;
        top: 50px;      
        left: 270px;   
        width: 120px;
        height: 120px;
    }

}
